#background{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	margin:auto;
}

#background_top{
	height:100%;
	width:100%;
	background:url(/images/backgroud.jpeg) no-repeat;
	background-size:100% 100%; 
	background-attachment: fixed;
}

#login_content{
	padding-top:6%;
	overflow:hidden;
	margin:0 auto;
	text-align:center;
	clear:both;
}

.table{
	width:600px;
	height:380px;
	margin:0 auto;
	position:relative;
	padding:60px 10px 0 10px;
	background:#fff;
	overflow:hidden;
	text-align:left;
	clear:both;
}

.wel{
	font-size:25px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	position:relative;
	margin-bottom:60px;
}

.user{
	width:373px;
	margin:auto;
	margin-top:40px;
}

.user input{
	height:55px;
	width:373px;
	text-indent:55px;
	border:none;
	background:#ECFFEF;
	border-bottom:2px #38AD6F solid;
	font-size:16px;
}

#yonghu{
	width:373px;
}

#yonghu img{
	height:30px;
	position:absolute;
	margin-top:11px;
	margin-left:10px;
}

.btn{
	position:absolute;
	border:none;
	color:#fff;
	width:373px;
	text-align:center;
	background-color:#339966;
	border-radius:10px;
	text-shadow:2px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow:2px 2px 1px rgba(0, 0, 0, 0.2);
	font-size:20px;
	height:50px;
}